{{!--

List of all videos + links.

Variables:
recordings

--}}


<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>Videos library</h1>
            <p><a href="/record" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-plus"></span> Record new video</a></p>

            {{#if recordings}}
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th><th>Author</th><th>Description</th><th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#recordings}}
                <tr>
                    <td>{{ title }}</td><td>{{ author }}</td><td>{{ description }}</td>
                    <td>
                        <span class="btn-group">
                            <a href="play/{{ id }}" class="btn btn-sm btn-success" title="Play video"><span class="glyphicon glyphicon-play"></span></a>
                            <a href="delete/{{ id }}" class="btn btn-sm btn-danger" title="Delete video"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    </td>
                </tr>
                {{/recordings}}

                </tbody>
            </table>
            {{else}}
            <p class="alert alert-info">There is no video in the library.</p>
            {{/if}}
        </div>
    </div>
</div>